*{
    font-family: 'Share Tech Mono', monospace;
}

.bodyContainer{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background-size: 100%;
    background-color: black;
    color: white;
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
}

.mainCharacterView{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#left{
    position: relative;
    left: -100%;
    transition: left 0.5s ease;
}

#right{
    position: relative;
    right: -100%;
    transition: right 0.5s ease;
}

.nameBox{
    border: 1px solid black;
    width: 25vw;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    box-shadow: 0px 0px 20px 10px white;
}

#playerImage{
    border: 1px solidblack;
    width: 30vw;
    height: 40vh;
    background-image: url("images/space_hero.gif");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px white;
}

#middle-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
    height: 100vh;
}

#name-container{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    transition: opacity 1s ease;
}

#name{
    background-color: black;
    border-radius: 2%;
    color: white;
    height: 40px;
    font-size: 40px;
    border: 2px outset gray;
    text-align: center;
}

#name:focus{
    box-shadow: 0px 0px 20px 5px white;
}

#result-container{
    height: 300px;
    display: none;
}

#result-container *{
    margin-top: 20px;
    color: #00f400;
    font-size: 1em;
    opacity: 0;
    transition: opacity 1.5s ease;
}

#result{
    margin-bottom: 50px;
    color: #00f400;
    text-shadow: 3px 3px 12px #00f400;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 2.5em;
}

#enemiesDefeated{
}

#enemiesRemain{

}

#successHits{

}

#hits{

}

@keyframes pop{
    from {
        box-shadow: 0px 0px 20px -5px;
    }
    to{
        box-shadow: 0px 0px 20px 10px;
    }
}

#startButton{
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vh;
    background-color: black;
    color: white;
    border-radius: 2%;
    font-size: 1.5em;
    cursor: pointer;
    animation-name: pop;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transition: bottom 0.5s ease;
}

#startButton:hover{
    color: #00f400;
    animation-play-state: paused;
}

#playerStats{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 15vw;
    height: 15vh;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;
    border-radius: 2%;
}

.enemyImage{
    border: 1px solidblack;
    width: 30vw;
    height: 35vh;
    background-image: url("images/enemy.gif");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px white;
}

.enemyStats{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 15vw;
    height: 15vh;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;
}